@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: 'Gabarito', sans-serif;
}
body {
  background-image: url("assets/bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-card {
  background-color: rgba(128, 128, 128, 0.173);
}

.gradient-text {
  background: linear-gradient(white, rgba(134, 78, 173));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress-bar::-webkit-progress-bar {
  border-radius: 15px;
  border: 1px solid gray;
  background-color: transparent;
}

.progress-bar::-webkit-progress-value {
  border-radius: 15px;
  background: linear-gradient(to right, violet, yellow);
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgba(134, 78, 173);
  border-radius: 20px;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}
